.gamepage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
}
.room-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}